# GitIgnore these directorys...
launchConfigurations/
.idea/
node_modules/

# .. and these files

/.idea/workspace.xml
/openwhisk/joke/node_modules/
/openwhisk/meal/action.zip
/openwhisk/joke/action.zip
/openwhisk/routerV2/action.zip
/openwhisk/timetables/action.zip
/launchConfigurations/
/.idea/
openwhisk/joke/test/
openwhisk/meal/test/
openwhisk/routerV2/test/
openwhisk/timetables/test/
