# GitIgnore these directorys...
launchConfigurations/
.idea/
node_modules/

# .. and these files

/openwhisk/meal/action.zip
/openwhisk/joke/action.zip
/openwhisk/router/action.zip
/openwhisk/timetables/action.zip
openwhisk/joke/test/
openwhisk/meal/test/
openwhisk/router/test/
openwhisk/timetables/test/

wsk\.exe

IWIbot\.iml
