extends layout

block head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js')

block content
    header
     //.jumbotron.text-center
        h1= title
        p Welcome to #{title}
     nav.navbar.navbar-default
        .container-fluid
            ul.nav.navbar-nav
                li
                    a(href="/") IWIBot
                li.active
                    a(href="/textInput") Text Input
                li
                    a(href="/stream") Stream Test
                li
                    a(href="/login") Login
                form#chatForm.col-lg-4.col-lg-offset-3
                  div.input-group
                            input#messageField.form-control(type="text" placeholder="Frag mich was..." required)
                            span.input-group-btn: button.btn.btn-default(type="submit") Send
    //.contentTextInput.text-center
        form#chatForm1
            div.input-group
                input#messageField1.form-control(type="text" placeholder="Frag mich was..." required)
                span.input-group-btn: button.btn.btn-default(type="submit") Send
    div#chat.text-center
        .container
            div.row.msg.topDiv
                div.col-lg-3
                div.col-lg-4: div.msg-recived Hallo, ich bin Claudio! Was kann ich für dich tun?
                div.col-lg-5


