extends layout

block head
    script(src='/javascripts/recorder.js')
    script(src='/javascripts/Fr.voice.js')
    script(src='/javascripts/mainAudio.js')

block content
    header
     .jumbotron.text-center
        h1= title
        p Welcome to #{title}
     nav.navbar.navbar-default
        .container-fluid
            ul.nav.navbar-nav
                li.active
                    a(href="/") IWIBot
                li
                    a(href="/textInput") Text Input

    .content
     .container
       div.row
        div.col-lg-5
        div.col-lg-2.text-center: button#record.btn.btn-default.btn-circle.recordButton
            i.fa.fa-microphone.fa-3x
        div.col-lg-5
       div.row
           div.col-lg-4: audio.tts(controls autoplay)
           div.col-lg-8
       div.row
            div.col-lg-4: div.stt Warten auf Aufnahme...
            div.col-lg-8