extends layout

block content
    form(id="chatForm" class="container")
        div(id="header")
            input(type="submit" value=" > send")
            a(href="/audio" title="Audio")
            h1= title
            input(type="text" id="messageField" placeholder="Frag mich was..." required)
    div(id="chat" class="container")
        div(class="msg")
            div Hallo, ich bin Claudio! Was kann ich für dich tun?
                    