body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
form {
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    margin-right: auto;
    margin-left: auto;
    background-color:white;
}
.container{
    max-width: 760px;
}
#chat {
    margin: 6px;
    margin: auto;
    margin-top:110px;
}
.msg{
    margin:5px;
}
.myMsg {
    text-align: right;
}
.msg div {
    max-width: 75%;
    display: inline-block;
    background-color: lightgrey;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
}
.myMsg div {
    background-color:aquamarine;
}
a {
    color: #00B7FF;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    display: block;
    width: 100%;
}

input[type="text"]:focus,
input[type="text"].focus {
        border-bottom: solid 2px #969696;
}

input[type="submit"] {
    padding: 10px;
    margin: 5px;
    border:none;
    font-weight:bold;
    float:right;
}

input[type="submit"]:hover {
    background-color:silver;
}