@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=VT323');

.headerCustom {
	position: fixed;
	margin-top: 0px;
	z-index: 10;
	width: 100%;
	height: 100px;
	margin-bottom: 0px;
	background-color: coral;
	height: 100px;
	font-family: Raleway;

}

body {
	height: auto;
	width: auto;
	font-family: Raleway;
}
a {
	color: #00B7FF;
}
.jumbotron {
	margin-bottom: 0px;
	background-color: coral;
	height: 100px;
}
.navbar {
	background-color: white;
	border-color: silver;
	font-size: 15px;
}
@media (min-width: 320px) and (max-width: 899px) {
	.navbar-search {
		padding: 0;
		position: absolute;
		top: 0;
		right: 40%;

	}
	#messageField {
		/*//width: 180px;*/
	}
}

@media (min-width: 900px) {
	.navbar-search {
		top: 0;
		position:absolute;
		right: 40%;


	}



}

.btn-circle {
	background-color: #e6e6e6;
	width: 120px;
	height: 120px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 60px;
	border-color: #ccc;
	box-shadow: 0 2px 10px 3px rgba(0,0,0,.1);
}
.content {
	padding-top: 300px;
	position: relative;
}
#sttContent{

	margin-top: 50px;

}
.contentTextInput {
	padding-top: 300px;
}
#chatForm {
	/*margin-top: 8px;
	margin-bottom: 5px;
	position: fixed;
	z-index: 5;
	background-color: white;*/
	display: none;

}
.msg {
	margin-top: 15px;
	margin-bottom: 0px;
}
.msg-recived {
	background-color: gainsboro;
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 15px;
	word-wrap: break-word;
	text-align: center;

}
.msg-send{
	background-color: coral;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 15px;
	border-radius: 20px;
	word-wrap: break-word;
	text-align: center;

}
.html-recived {
	background-color: gainsboro;
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 15px;
	word-wrap: break-word;
}
.topDiv {
	display: block;
	margin-top: 60px;
}
.stt {
	background-color: gainsboro;
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 0px;
	word-wrap: break-word;
}
.recording {
	background-color: coral !important;
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	box-shadow: 0 2px 10px 3px rgba(255, 127, 80, 0.6);
}
.contentIndex {
	display: block;
	margin-top: 0px;
}
.loader {
	border: 16px solid gainsboro;
	border-top: 16px solid coral;
	border-radius: 50%;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}
.history {
	position: absolute;
	margin-top: 150px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	display: none;

}
.historyToggle {
	/*margin-top: 10px;*/
	color: white;
	display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
	position: relative; /* All 'absolute'ly positioned elements are relative to this one */
	padding: 2px 5px; /* Add some padding so it looks nice */



}
.notification {

	background-color: #fa3e3e;
	border-radius: 2px;
	color: white;
	padding: 1px 3px;
	font-size: 10px;
	display: none;
	position: absolute; /* Position the badge within the relatively positioned button */
	top: 0;
	right: 0;

}
.wrapper {

	margin: 100px;

}
.form-signin {
	max-width: 380px;
	font-family: Raleway;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);

}
.form-signin-heading {
	margin-bottom: 30px;
}

@-webkit-keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-moz-keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-ms-keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}