header {

	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;

}
body {
	height: auto;
	width: auto;
}
a {
	color: #00B7FF;
}

.jumbotron {
	margin-bottom: 0px;
	background-color: coral;
	height: 180px;
}
.navbar {
	background-color: white;
	border-color: silver;
}
.btn-circle {
	width: 120px;
	height: 120px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	background-color: #e6e6e6;
	line-height: 1.428571429;
	border-radius: 60px;
	box-shadow: 0 2px 10px 3px rgba(0,0,0,.1);
}
.content {
	padding-top: 400px;
}
.contentTextInput {
	padding-top: 300px;
}
#chatForm {
	margin-top: 8px;
	position: fixed;
	z-index: 5;
	background-color: white;

}
.msg {
	margin-top: 25px;
	margin-bottom: 0px;
}
.msg-recived {
	background-color: gainsboro;
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 0px;
	word-wrap: break-word;

}
.msg-send{
	background-color: coral;
	padding: 10px;
	border-radius: 20px;
	word-wrap: break-word;

}
.row {
	display: none;
}
.topDiv {
	display: block;
	margin-top: 60px;
}
.stt {
	background-color: gainsboro;
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 0px;
	word-wrap: break-word;
}